* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:550px) {
    body {
        background-color: grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    body h1 {
        font-size: 100%;
        text-transform: uppercase;
        text-align: center;
        color: purple;
    }

    .container {
        background-color: rgb(118, 118, 118);
        width: 100%;
        height: 100%;
        border: 2px solid black;
        /* flex */
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .container .syari {
        display: flex;
        flex-direction: column;
        border: 2px solid gold;
        width: 100%;
        background-color: rgb(53, 186, 53);
    }

    .syari h2 {
        color: white;
        text-align: center;
        font-size: 100%;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .syari p {
        text-align: center;
        color: yellow;
    }

    .syari i {
        color: red;
        margin-top: -10px;
    }

    .dog {
        margin-top: 7px;
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(239, 206, 21);
        width: 100%;
        background-color: rgb(17, 201, 233);
        position: relative;
        width: 100%;
    }

    .dog h2 {
        text-align:center;
        font-size: 100%;
        color: white;
        text-transform: uppercase;
    }

    #btn {
        color: red;
        text-transform: uppercase;
        font-weight: bold;
    }

    #image img {
        width: 100%;
        opacity: 0;
    }

    #img.active {
        opacity: 1;
    }

    .mouse {
        margin-top: 7px;
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(239, 206, 21);
        width: 100%;
        background-color: rgb(14, 77, 87);
        position: relative;
        width: 100%;
    }
    .mouse h2 
    {
        font-size:100%;
        color:white;
        text-transform:uppercase;
        text-align:center;
    }
    #btnT {
        color: red;
        text-transform: uppercase;
        font-weight: bold;
    }
    #imageT #imgT {
        width: 100%;
        opacity:0;
    }
   #imageT #imgT.activeT
    {
        opacity:1;
    }
    footer
    {
        color:white;
        text-align: right;
        font-weight: bold;
        text-transform: capitalize;
    }

}